<!doctype html>
<html lang="en">
    <head>
        <title>Mr Robot</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="assets/main.js"></script>
    </head>
    <body ng-app="mrrobot">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <a class="navbar-brand" href="#page-top">Mr Robot</a>
                </div>
            </div>
        </nav>
        <header>
            <div class="container" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name">Mr Robot</h1>
                            <hr class="star-light">
                            <span class="skills">Text Classification using Machine Learn</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section ng-controller="MainController">
            <div class="container form-container">
                <div class="col-lg-12">
                    <form id="classification-form">
                        <div class="form-group">
                            <label>Paste a text to classify:</label>
                            <textarea class="form-control" ng-model="classification.text" ng-disabled="classification.inactive"></textarea>
                        </div>
                        <div class="alert alert-success" ng-show="response.show" role="alert">The Text Category is: <strong><span>{{classification.category}}</span></strong></div>
                        <button type="button" class="btn btn-primary" ng-hide="response.show" ng-disabled="classification.inactive" ng-click="classify()">
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="request.progress"></span>
                            <span class="legend">Classify</span>
                        </button>
                        <button type="button" class="btn btn-success" ng-show="response.show" ng-click="categoryCorrect()">The Category is correct</button>
                        <button type="button" class="btn btn-danger" ng-show="response.show" ng-click="categoryWrong()">The Category is wrong</button>
                    </form>
                </div>
            </div>
            <div id="category-modal" class="modal fade in" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">What is the category of your text?</h4>
                        </div>
                        <div class="modal-body">
                            <h4>Choose a Category</h4>
                            <fieldset>
                                <span ng-show="categoryList.onload">Loading categories...</span>
                                <button type="button" class="btn btn-primary" ng-repeat="category in categoryList.data" ng-click="applyCategory(category)">{{category.name}}</button>
                            </fieldset>
                            <h5><strong>OR</strong></h5>
                            <h4>Create a new Category</h4>
                            <fieldset>
                                <form>
                                    <div class="form-group">
                                        <label class="control-label">Category Name</label>
                                        <input class="form-control" type="text" ng-model="categoryModel.name" />
                                    </div>
                                    <button type="button" class="btn btn-primary" ng-click="createCategory()">Create</button>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>